@import url('index.css');

.admission-steps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.step {
    flex-basis: calc(20% - 1rem);
    text-align: center;
    padding: 1rem;
    background-color: var(--light-bg);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.step i {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.required-documents ul {
    list-style-type: none;
    padding: 0;
}

.required-documents li {
    margin-bottom: 0.5rem;
}

.required-documents i {
    margin-right: 0.5rem;
    color: var(--primary-color);
}

.important-info, .scholarships {
    background-color: var(--light-bg);
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.documents-card {
    background-color: var(--light-bg);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
    text-align: center;
}

.documents-card h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.documents-card ul {
    list-style-type: none;
    padding: 0;
}

.documents-card li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.documents-card i {
    margin-right: 0.5rem;
    color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .admission-steps {
        flex-direction: column;
    }

    .step {
        width: 100%;
        margin-bottom: 1rem;
    }
}